.header {
  display                             : flex;
  justify-content                     : space-between;
  padding                             : 1rem;
}

.nav {
  display                             : flex;
  gap                                 : 1rem;
}

.nav-item {
  background-color                    : transparent;
  border                              : none;
  font-size                           : 1rem;
  padding                             : 0;
}

.nav-item:hover {
  color                               : var(--primary-800);
}

.nav-item-selected, .nav-item-selected:hover {
  color                               : var(--primary-500);
}

@media only screen and (min-width: 40rem) {
  .header {
    padding                           : 1.5rem;
  }

  .nav {
    gap                               : 1.5rem;
  }
}

