.menu-item {
  display                             : flex;
  flex-direction                      : column;
}

.menu-item-image-container {
  display                             : flex;
  align-items                         : center;
  justify-content                     : center;
  margin-bottom                       : 1.5rem;
  flex-grow                           : 1;
}

.menu-item-image {
  width                               : 100%;
  max-width                           : 20rem;
}

.menu-item-name {
  font-size                           : 1.5rem;
}

.menu-item-price {
  font-size                           : 1.5rem;
  color                               : var(--primary-500);
}

