@font-face {
  font-family                         : "Fredoka";
  src                                 : url("../assets/fonts/Fredoka-Regular.woff2");
  font-weight                         : 400;
  font-style                          : normal;
}

@font-face {
  font-family                         : "Fredoka";
  src                                 : url("../assets/fonts/Fredoka-Medium.woff2");
  font-weight                         : 500;
  font-style                          : normal;
}

* {
  margin                              : 0;
  font-family                         : "Fredoka", sans-serif;
  font-weight                         : 500;
  font-style                          : normal;
  color                               : var(--primary-950);
}

:root {
  font-size                           : clamp(0.8rem, 1.25vw, 100rem);

  --primary-50                        : #fdf2f8;
  --primary-100                       : #fce7f3;
  --primary-200                       : #fccee8;
  --primary-300                       : #fda5d5;
  --primary-400                       : #fb64b6;
  --primary-500                       : #f6339a;
  --primary-600                       : #e60076;
  --primary-700                       : #c6005c;
  --primary-800                       : #a3004c;
  --primary-900                       : #861043;
  --primary-950                       : #510424;
}

.body-loading {
  filter                              : blur(0.5rem);
  pointer-events                      : none;
}

.body-loaded {
  filter                              : none;
  opacity                             : 1;
  transition                          : filter 0.5s ease;
}

.logo {
  font-size                           : 1.5rem;
}

.logo-image {
  width                               : 1.125rem;
}

.text-primary {
  color                               : var(--primary-500);
}

.nowrap {
  white-space                         : nowrap;
}

.page-heading {
  font-size                           : 3rem;
  margin-bottom                       : 2rem;
}

.page-heading-logo {
  width                               : 2.25rem;
}

.page-subheading {
  font-size                           : 2rem;
  margin-bottom                       : 1.5rem;
}

.page-paragraph {
  font-size                           : 1.5rem;
  font-weight                         : 400;
  margin-bottom                       : 3rem;
}

.page-paragraph-list {
  margin-top                          : 1.5rem;
}

.page-paragraph-list-element {
  font-weight                         : 400;
}

@media only screen and (min-width: 40rem) {
  .page-heading {
    font-size                         : 4rem;
  }

  .page-heading-logo {
    width                             : 3rem;
  }

  .page-subheading {
    font-size                         : 2.5rem;
  }
}

