@font-face {
  font-family                         : "Fredoka";
  src                                 : url("../assets/fonts/Fredoka-Medium.woff2");
  font-weight                         : 500;
  font-style                          : normal;
}

* {
  margin                              : 0;
  font-family                         : "Fredoka", sans-serif;
  font-weight                         : 500;
  font-style                          : normal;
  color                               : var(--primary-950);
}

:root {
  font-size                           : clamp(0.8rem, 1.25vw, 100rem);

  --primary-50                        : #fdf2f8;
  --primary-100                       : #fce7f3;
  --primary-200                       : #fccee8;
  --primary-300                       : #fda5d5;
  --primary-400                       : #fb64b6;
  --primary-500                       : #f6339a;
  --primary-600                       : #e60076;
  --primary-700                       : #c6005c;
  --primary-800                       : #a3004c;
  --primary-900                       : #861043;
  --primary-950                       : #510424;
}

.body-loading {
  filter                              : blur(0.5rem);
  pointer-events                      : none;
}

.body-loaded {
  filter                              : none;
  opacity                             : 1;
  transition                          : filter 0.5s ease;
}

.nowrap {
  white-space                         : nowrap;
}

